@charset "utf-8";
/* CSS Document */

.member{ width:1200px; display:block; overflow:hidden; margin:20px auto 50px auto;}
.member-left{ width:200px; display:block; float:left;}
.member-right{ width:970px; display:block; overflow:hidden; float:right;}

.mlc-me{ background:#f4f4f4;}
.mlc-seller{ background:#fff; border:1px solid #ddd; width:198px !important;}
.mlc-store{ background:#ff8000; color:#fff;}
.mlc-store a{ color:#fff;}
.mbrn{ border:none !important;}

.member-left ul{ padding:0 0 25px 0;}
.member-left ul li{ width:150px; display:block; overflow:hidden; border-bottom:1px solid #ddd; margin:25px 25px 0 25px; padding-bottom:20px;}
.member-left ul li font{ width:100%; line-height:20px; font-weight:bold; font-size:15px; padding-bottom:10px; display:block;}
.member-left ul li a{ width:100%; display:block; overflow:hidden; line-height:30px; text-align:center; font-size:14px;}

/*搜索*/
.member-search{height: 36px; border: 1px solid #ddd;position: absolute;margin-left: 319px;display: block;overflow: hidden;}
.member-search .ms-select{ width:100px; float:left; background:#f4f4f4; border:none; padding:10px 0 10px 10px; display:block; overflow:hidden;}
.member-search .ms-text{ width:200px; padding:0 10px; line-height:36px; height:36px; border:none; background:none; float:left;}
.member-search .ms-btn{ width:60px; line-height:36px; background:none; text-align:center; border:none; font-weight:bold; color:#ff8000; float:right; cursor:pointer;}

.mindex-top{ width:100%; display:block; overflow:hidden; font-size:14px;}
.mindex-top a:hover{ text-decoration:underline;}
.mindex-pic{ width:100px; height:100px; float:left; display:block; overflow:hidden; border:1px solid #ddd;}
.mindex-pic img{ width:100%;}
.mindex-right{ width:800px; display:block; overflow:hidden; float:left; margin-left:20px;}
.mindex-name{ width:100%; height:30px; line-height:30px;}
.mindex-name font{ float:left; font-weight:bold; font-size:18px;}
.mindex-name a{ float:left; margin-left:10px; color:#ff8000; background:url(../img/update.png) no-repeat left center; padding-left:20px; font-size:14px;}
.mindex-me{ width:100%; line-height:30px;}
.mindex-me a{ color:#ff8000;}
.mindex-cash{ width:100%; line-height:30px;}
.mindex-cash em{ font-weight:bold; color:#ff8000;}
.mindex-cash a{ color:#ff8000; margin-left:10px;}

.mindex-order{ width:100%; display:block; overflow:hidden; border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:14px; margin:33px 0 0 0; padding:20px 0;}
.mindex-order a{ width:200px; line-height:30px; float:left; display:block; overflow:hidden;}
.mindex-order em{ color:#ff8000; font-weight:bold; padding-left:5px;}

.mlam{ width:100%; height:50px; border-bottom:2px solid #ff8000; font-size:16px; font-weight:bold; line-height:50px;}

.tablam{ width:968px; border:1px solid #ddd; background:#f4f4f4; height:40px; margin-top:20px;}
.tablam ul li{ float:left; display:block; line-height:40px; padding:0 20px; float:left; border-right:1px solid #ddd; cursor:pointer;}
.tablam ul li:hover{ color:#ff8000;}
.taction{ background:#fff; height:41px;}

/*.tabcontent{ width:100%; display:block; overflow:hidden; margin-top:15px;}*/
/*.tabtit{ width:950px; height:36px; background:#f7f7f7; line-height:36px; padding:0 10px}*/
/*.tabtit font{ float:left; font-weight:bold; margin-right:10px;}*/
/*.tabcontent ul{ display:none;}*/
/*.tabcontent ul li{ width:950px; border-bottom:1px solid #eee; padding:15px 10px; display:block; overflow:hidden;}*/
/*.tabcontent ul li font{ float:left; line-height:18px; margin-right:10px; }*/
/*.tabcontent ul li:hover{ background:#f9f9f9;}*/
/*.tfw01{ width:140px;}*/
/*.tfw02{ width:120px;}*/
/*.tfw03{ width:150px;}*/
/*.tfw04{ width:60px; padding-left:10px;}*/
/*.tfw05{ width:80px;}*/
/*.tfw06{ width:130px;}*/
/*.tfw07{ width:80px;}*/
/*.tfw08{ width:80px;}*/
/*.again-buy{ float:left; padding:0 10px; line-height:22px; background:#ff8000; color:#fff; margin:0;}*/
/*.again-buy:hover{ color:#fff;}*/
/*.adr-put{ color:#1296db; text-decoration:underline; margin-left:10px;}*/
/*.eva-a{ display:block; overflow:hidden; width:100%;}*/
/*.etfw01{ width:90px;}*/
/*.etfw02{ width:150px;}*/
/*.etfw03{ width:80px;}*/
/*.etfw04{ width:400px;}*/
/*.etfw05{ width:110px; padding-left:20px;}*/
.tabcontent{ width:100%; display:block; overflow:hidden; margin-top:15px;}
.tabtit{ width:950px; height:36px; background:#f7f7f7; line-height:36px; padding:0 10px}
.tabtit font{ float:left; margin-right:10px; color:#999;}
.tabcontent ul{ display:none;}
.tabcontent ul li{ width:950px; border-bottom:1px solid #eee; display:block; overflow:hidden; margin-top:15px; padding:15px 10px;}
.tabcontent02 ul li{ width:966px !important; border:1px solid #eee; display:block; overflow:hidden; margin-top:15px; padding:0 !important;}
.tabcontent ul li font{ float:left; line-height:18px; margin-right:10px;}
.tfw01{ width:25%; display:block; overflow:hidden; font-weight:bold;}
.tfw02{ width:60px;}
.tfw03{ width:80px;}
.tfw04{ width:130px; padding-left:10px;}
.tfw05{ width:30px; text-align:center;}
.tfw06{ width:80px;}
.tfw07{ width:40px;}
.tfw08{ width:80px;}
.again-buy{ float:left; padding:0 10px; line-height:22px; background:#ff8000; color:#fff; margin:0;}
.again-buy:hover{ color:#fff;}
.adr-put{ color:#1296db; text-decoration:underline; margin-left:10px;}
.eva-a{ display:block; overflow:hidden; width:100%;}
.etfw01{ width:190px;}
.etfw02{ width:150px;}
.etfw03{ width:80px;}
.etfw04{ width:300px;}
.etfw05{ width:110px; padding-left:20px;}

.tu-top{ width:100%; display:block; overflow:hidden; line-height:36px; background:#f7f7f7;}
.tu-top em{ float:left; margin:0 5px;}
.tu-bot{ width:948px; display:block; overflow:hidden; padding:15px 10px;}


.mycash{ width:100%; display:block; overflow:hidden; font-size:14px; margin-top:15px;}
.mycash em{ font-weight:bold; font-size:18px; padding:0 5px; color:#ff8000; line-height:30px;}
.mycash a{ color:#ff8000; margin-left:10px;}
.mycash-recharge{ width:auto; line-height:36px; text-align:center; background:#ff8000; color:#fff; margin-top:20px; display:block; font-size:14px; float:left; margin-right:20px;padding: 0 10px;}
.mycash-recharge:hover{ background:#ff6000; color:#fff;}
.casht{ width:300px; line-height:38px; height:38px; height:35px; border:1px solid #ddd; background:none; padding:0 10px; float:left;}
.cashnote{ width:100%; display:block; overflow:hidden; line-height:30px; color:red;}
.casht02{ width:150px;}
.mycash-text{ width:100%; display:block; overflow:hidden; margin-top:10px;}
.mycash-text a{ line-height:40px; float:left; margin-left:10px;}
.mycash-wx{ width:970px; display:block; overflow:hidden; font-size:14px; margin-top:15px;}
.mycash-wx span{ width:200px; display:block; overflow:hidden; float:left; margin-right:20px; padding:20px 0;}
.mycash-wx font{ width:100%; display:block; line-height:24px; overflow:hidden; margin-top:10px;}
.mycash-wx span img{ width:130px; height:130px; border:1px solid #ddd; margin:0 auto; display:block; overflow:hidden;}
.mycash-pay{ width:920px; display:block; overflow:hidden; font-size:14px; margin-top:15px; background:#f7f7f7; padding:25px;}
.mycash-pay em{ font-weight:bold; font-size:18px;}
.mycash-pay a{ color:#ff8000;}
.mycash-wx em img{ height:130px; margin:20px auto; display:block; overflow:hidden; float:left;}




.mtfw01{ width:90px;}
.mtfw02{ width:150px; text-align: right; display: block;}
.mtfw03{ width:220px;}
.mtfw04{ width:150px; padding-left:20px;}
.mtfw05{ width:150px; text-align:right;}
.mtfw05 b{ font-size:14px;}
.mtfw05 em{ width:100%; display:block; color:#999; margin-bottom:-10px;}

.mli{ display:block; overflow:hidden; margin-top:15px; font-size:14px;}
.mli-left{ width:100px; float:left; line-height:36px; text-align:right; display:block; overflow:hidden; margin-right:20px; font-weight:bold;}
.mli-but{ width:100px; float:left; line-height:36px; text-align:center; display:block; overflow:hidden; background: #ff8000; margin-right:20px; font-weight:bold;}
.mli-pic{ float:left;}
.mli-pic-img{ width:100px; height:100px; border:1px solid #ddd;
    float: left;}
.mli-pic-word{ color:#ff8000; float:left; margin:70px 0 0 20px;color:#ff8000;}
.pic-del{ width:102px; height:102px; display:none; overflow:hidden; background:#333;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9; position:absolute;}
.pic-img{ float:left;}
.pic-del img{ width:20px; height:20px;}
.pic-del a{ width:20px; height:20px; padding:1px; margin:80px 0 0 150px; display:block;}
.pic-del a:hover{ background:#ff8000;}
.pic-img:hover .pic-del{ display:block;}
.mli-pic-a{ margin-top: 10px !important;}
.mli-name{ width:280px; height:34px; line-height:34px; border:1px solid #ddd; background:none; padding:0 10px; float:left; font-size:14px;}
.mli-phone{ float:left; line-height:36px;}
.mli-phone span{ font-weight:bold;}
.mli-phone em{ color:#999; margin-left:10px;}
.mli-phone a{ color:#ff8000;}
.mli-adr{ float:left; line-height:36px;}
.mli-adr font{ float:left; border:1px solid #ddd; padding:0 10px;}
.mli-adr em{ color:#999; margin-left:10px;}
.mli-adr a{ color:#ff8000; margin-left:10px;}
.adr-new{ width:100%; display:block; overflow:hidden;}

.adr-one{ display: block;
    overflow: hidden; margin-bottom: 10px;}
.mli-btn{ width:100px; height:40px; margin:20px 0 0 120px; font-size:16px; color:#fff; border:none; background:#ff8000;}
.btn-black{ background:#ccc !important;}
.mli-btn:hover{ background:#ff6000; cursor:pointer;}

.minfo{ width:100%; display:block; overflow:hidden;}
.minfo ul li{ width:100%; display:block; overflow:hidden; margin-top:20px;}
.minfo ul li .minfo-tit{ width:100%; line-height:36px; display:block;}
.minfo-tit em{ width:30px; height:15px; color:#ff8000; text-align:center; border:1px solid #ff8000;-moz-border-radius: 3px; line-height:16px;-webkit-border-radius: 3px;border-radius: 3px; float:left; margin:9px;}
.mok{ border-color:#999 !important; color:#999 !important;}
.minfo-tit font{ float:left;}
.minfo-tit span{ float:left; margin-left:10px; color:#999;}
.minfo-cot{ width:860px; background:#f7f7f7; margin:0 auto; padding:10px 20px; line-height:20px; display:block; overflow:hidden; color:#666;}

.qtfw01{ width:90px;}
.qtfw02{ width:150px;}
.qtfw03{ width:300px;}
.qtfw04{ width:150px; padding-left:20px;}
.qtfw05{ width:80px;}
.qtfw03 span{ width:100%; display:block; overflow:hidden; line-height:20px !important; padding-top:5px; color:#ff8000; margin-bottom:-10px;}
.qtfw03 span em{ display:block; overflow:hidden;}

.new-que{ width:120px; height:40px; margin:20px 0; font-size:16px; color:#fff; background:#ff8000; display:block; overflow:hidden; line-height:40px; text-align:center;}
.new-que:hover{ background:#ff6000; cursor:pointer; color:#fff;}

.mtextarea{width:380px; border:1px solid #ddd; padding:5px 10px; line-height:20px; height:100px;}
.mtextarea02{width:280px; border:1px solid #ddd; padding:5px 10px; line-height:20px; height:100px;}

/*发表评价*/
.mli-eva{ line-height:36px;}
.mli-score{ float:left;}
.mli-score a{ float:left; line-height:24px; border:1px solid #ddd; padding:0 10px; display:block; overflow:hidden; margin:6px 10px 0 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.mli-score a:hover{ color:#fff; background:#ff8000; border-color:#ff8000;}
.mli-score .facus{ color:#fff; background:#ff8000; border-color:#ff8000;}
.mli-ok{ display:block; overflow:hidden; margin:30px 0 0 30px;}
.mli-ok img{ height:40px; float:left;}
.mli-ok font{ font-size:30px; color:#ff8000; margin-left:10px; float:left; line-height:40px;}

.mli-reward{ width:940px; display:block; overflow:hidden; border-top:1px solid #ddd; margin-top:20px; font-size:14px; padding-left:30px;}
.mli-reward-tit{ line-height:40px; margin:30px auto 10px auto; font-size:16px;}
.mli-reward-cot{ width:100%; display:block; overflow:hidden;}
.mli-reward-cot a{ float:left; padding:0 10px; line-height:30px; border:1px solid #ddd; display:block; overflow:hidden; margin-right:10px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.mli-reward-cot a:hover{ color:#fff; background:#ff8000; border-color:#ff8000;}
.mli-reward-cot .focus{ color:#fff; background:#ff8000; border-color:#ff8000;}
.reward-text{ width:80px; line-height:30px; height:30px; border:1px solid #ddd; float:left; background:none; margin-left:20px; border-right:none; padding:0 10px;}
.reward-btn{ width:50px; line-height:32px; border:none; background:#ff8000; color:#fff; text-align:center;}
.reward-btn:hover{ cursor:pointer; background:#ff6000;}

/*支付弹窗*/
#payshadow{ display:block;}
.mpay{ width:100%; font-size:14px;}
.mpay-top{ width:100%; display:block; overflow:hidden; padding:20px 0; background:#ffe9d3; margin:10px 0 20px 0;}
.mpay-top font{ line-height:30px; color:#999;}
.payli-left{ width:160px; padding-right:20px; float:left; border-right:1px solid #ff8000; text-align:right; line-height:30px;}
.payli-right{ width:210px; float:right;}
.payli-left font{ line-height:60px; color:#333;}
.payli-right span{ width:100%; display:block; overflow:hidden; text-align:center; font-size:24px;}
.payli-right span em{ font-size:50px;}
.mpay-bot{ width:398px; border:1px solid #ddd; display:block; overflow:hidden; margin:0 auto 30px auto;}
.mpay-bot em{ width:378px; line-height:40px; background:#f4f4f4; border-bottom:1px solid #ddd; padding:0 10px; display:block; overflow:hidden;}
.mpay-bot .mpay-overplus{ width:100%; display:block; overflow:hidden;}
.mpay-bot .mpay-overplus a{ float:left; line-height:30px; border:1px solid #fff; padding:0 10px; float:left; margin:15px 0 0 10px;}
.mpay-bot .mpay-overplus font{ font-weight:bold; color:#ff8000;}
.mpay-bot .mpay-other{ width:100%; display:block; overflow:hidden; margin:15px auto;}
.mpay-bot .mpay-other a{ float:left; height:50px; border:1px solid #ddd; float:left; margin-left:10px; display:block; overflow:hidden;}
.mpay-bot a:hover{ border-color:#ff8000 !important;}
.mpay-bot .mpay-a{ border-color:#ff8000 !important;}

/*余额充值*/
.cash-pay{ width:100%; display:block; overflow:hidden; font-size:14px;}
.cash-pay-bot{ display:block; overflow:hidden;}
.cash-pay-bot a{ float:left; padding:0 10px; line-height:30px; border:1px solid #ddd; display:block; overflow:hidden; margin-right:10px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.cash-pay-bot a:hover{ color:#fff; background:#ff8000; border-color:#ff8000;}
.cash-pay-bot .focus{ color:#fff; background:#ff8000; border-color:#ff8000;}

.cash-pay-top{ display:block; overflow:hidden; margin:30px auto 15px auto;}
.cash-text{ width:300px; line-height:38px; height:38px; height:35px; border:1px solid #ddd; float:left; background:none; border-right:none; padding:0 10px;}
.cash-btn{ width:80px; line-height:37px; border:none; background:#ff8000; color:#fff; text-align:center;}
.cash-btn:hover{ cursor:pointer; background:#ff6000;}

.adr-w{ width:500px;}

/*服务门店*/
.store-order ul li font{ display:block; overflow:hidden;}
.sfw01{ width:130px;}
.sfw02{ width:100px;}
.sfw03{ width:110px;}
.sfw04{ width:100px;}
.sfw05{ width:100px;}
.sfw06{ width:40px; padding-left:10px;}
.sfw07{ width:60px;}
.sfw08{ width:70px;}
.sfw09{ width:60px;}
.sfw10{ width:70px;}

.setfw01{ width:120px;}
.setfw02{ width:150px;}
.setfw03{ width:100px;}
.setfw04{ width:80px;}
.setfw05{ width:300px;}
.setfw06{ width:110px; padding-left:20px;}

.store-eva-select{ width:200px; line-height:20px; padding:10px; border:1px solid #ddd; background:none; margin:15px auto 0 auto;}

.mdetails{ width:900px; display:block; overflow:hidden; margin-top:20px; padding-left:10px;}
.mdetails font{ font-weight:bold; color:#ff8000; margin-right:20px; font-size:14px;}

.mli-map{ line-height:36px; background: url(../img/map-icon.png) left center no-repeat; padding-left:20px; text-decoration:underline; height:36px; margin-left:10px; display:block; overflow:hidden; float:left;}

/*门店资质*/
.mli-company{ width:800px; display:block; overflow:hidden; float:left;}
.company-radio{ width:100%; display:block; overflow:hidden;}
.company-radio input{ width:20px; height:20px; float:left; margin:8px;}
.company-radio font{ float:left; line-height:36px; margin-left:5px;}
.company-radio span{ float:left; display:block; overflow:hidden; margin-right:20px;}
.company-cot{ width:100%; display:block; overflow:hidden; margin-top:10px;}

/*抢单中心*/
.setorder-adr{ display:block; overflow:hidden; line-height:36px; border:1px solid #ddd; float:left; padding:0 10px; margin:20px 0;}
.setorder-adr font{ display:block; overflow:hidden; background:url(../img/bottom.png) no-repeat right center; padding-right:20px; font-size:14px;}
.setorder-note{ width:960px; line-height:36px; background:#f4f4f4; padding-left:10px; display:block; overflow: hidden; font-size:14px; color:#666;}

.setorder-cot{ width:970px; display:block; overflow:hidden;}
.setorder-cot ul li{ width:950; display:block; overflow:hidden; border-bottom:1px solid #eee; padding:20px 10px 10px 10px;}
.setorder-left{ width:800px; float:left; line-height:30px;}
.setorder-left font{ font-weight:bold; float:left; font-size:18px;}
.setorder-left em{ font-weight:bold; color:#ff8000; float:left; margin:0 50px; font-size:16px;}
.setorder-left span{ display:block; overflow:hidden; float:left; color:#666; float:left; margin-right:30px;}
.setorder-left i{ color:#eee; margin-right:30px; float:left;}
.setorder-cot ul li:hover{ background:#fcfcfc;}
.setorder-cot ul li .sselect{ height:40px; width:110px; text-align:center; line-height:40px; color:#fff; float:right; background:#ff8000; margin-top:10px; font-size:14px;}
.sselect:hover{ background:#ff6000 !important;}


/*服务列表*/
.mservice{ width:970px; display:block; overflow:hidden; border-bottom:1px solid #ddd; padding-bottom:30px;}
.mservice-li{ width:970px; display:block; overflow:hidden; margin-top:20px;}
.mservice-lam{ width:950px; padding-left:20px; display:block; overflow:hidden; line-height:36px; background:#f4f4f4; font-size:16px; font-weight:bold;}
.mservice-li ul{ width:100%; display:block; overflow:hidden; padding:10px 0;}
.mservice-li ul li{ width:320px; line-height:36px; display:block; overflow:hidden; display:block; overflow:hidden; float:left; font-size:14px;}
.mservice-li ul li em{ width:10px; height:10px; border:2px solid #ccc;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%; float:left; margin:11px 10px 0 20px;}
.mservice-li ul li font{ width:260px; float:left; text-overflow:ellipsis;white-space: nowrap; display:block; overflow:hidden;}
.mservice-li ul li span{ float:left;}
.mservice-a{ width:100px; height:40px; margin:30px 0 0 0; font-size:16px; color:#fff; border:none; background:#ff8000; display:block; overflow:hidden; text-align:center; line-height:40px;}
.mservice-a:hover{ background:#ff6000; color:#fff;}
.mservice-add{ width:100%; display:block; overflow:hidden; font-size:14px;}
.mservice-type{ width:100%; display:block; overflow:hidden; margin-top:20px;}
.mservice-type em{ float:left; width:90px; text-align:right; margin-right:10px; line-height:36px; font-size:14px;}
.mservice-type select{ float:left; display:block; overflow:hidden; padding:10px; line-height:20px; border:1px solid #ddd; margin-right:10px; display:block; overflow:hidden;}
.mservice-type input{ float:left; width:100px; display:block; overflow:hidden; padding:0 10px; line-height:34px; height:34px; border:1px solid #ddd; margin-right:10px; display:block; overflow:hidden;}
.mservice-info{ width:970px; display:block; overflow:hidden; border:1px solid #ddd; margin:20px 0 0 0px;}
.mservice-info-tit{ width:970px; padding:0 10px; line-height:36px; background:#f4f4f4; display:block; overflow:hidden;}
.mservice-info-tit font{ float:left; display:block; overflow:hidden;}
.mservice-info-cot{ width:820px; padding:10px; display:block; overflow:hidden;}
.mservice-info-cot font{ float:left; display:block; overflow:hidden; line-height:60px;}


.mifw01{ width:120px;}
.mifw01 img{ width:60px; height:60px; border:1px solid #eee; float:left;}
.mifw02{ width:300px;}
.mifw03{ width:180px;}
.mifw03 input{ width:60px; line-height:30px; height:30px; border:1px solid #eee; background:none; margin-top:14px; padding:0 10px; margin-right:5px; color:#ff8000; font-weight:bold;}
.mifw04{ width:220px;}
.mservice-price{ width:100%; display:block; overflow:hidden;}
.price-radio{float:left; display:block; overflow:hidden; margin-right:10px;}
.price-radio input{ width:16px; height:16px; margin:22px 5px 0 10px; float:left;}
.price-radio span{ float:left;}
.price-yes{ float:left; display:block; overflow:hidden;}
.price-yes em{ margin:0 2px; float:left;}
.price-yes input{ width:50px; line-height:30px; height:30px; border:1px solid #eee; float:left; background:none; text-align:center; margin-top:14px;}
.mservice-btn{ width:800px; display:block; overflow:hidden; margin: 30px 0 0 100px;}
.mservice-btn input{ width:100px; height:40px; margin:0 20px 0 0; font-size:16px; color:#fff; border:none; display:block; overflow:hidden; float:left; text-align:center; line-height:40px;}
.mservice-btn input:hover{ background:#ff6000; color:#fff; cursor:pointer;}
.btn-save{ background:#ff8000;}
.btn-reset{ background:#ddd;}
.mic{ padding:0 10px; border-top:1px solid #eee;}


/*电商卖家中心*/
.internet-add{ line-height:36px; margin-left:10px; text-decoration:underline;}
.order-put{ width:100%; display:block; overflow:hidden;}
.import{ width:100%;padding-top: 30px;display:block; overflow:hidden;}
.import-left{ display:block; overflow:hidden; float:left;}
.import-viewfile{ width:280px; line-height:36px; height:36px;float: left;border: none; background:none; padding:0 10px;cursor: pointer; position: absolute;}
.import-file{ width:300px; line-height:36px; height:36px; position: absolute; z-index: 99; border:none; background:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.import-file:hover{ cursor:pointer;}
.import-left img{ height:36px; float:left;}

.import-btn{ width:100px; line-height:38px; border:none; margin-left:10px; float:left; background:#ff8000; color:#fff;}
.import-btn:hover{ background:#ff6000; cursor:pointer;}
.import a{ float:left; line-height:38px; margin-left:320px; text-decoration:underline; color:#ff8000;}
.order-bot{ width:100%; display:block; overflow:hidden;}
.order-type select{ float:left; display:block; overflow:hidden; padding:10px; line-height:20px; border:1px solid #ddd; margin-right:10px; display:block; overflow:hidden;}
.order-type input{ float:left; width:100px; display:block; overflow:hidden; padding:0 10px; line-height:34px; height:34px; border:1px solid #ddd; margin-right:10px; display:block; overflow:hidden;}
.order-num .numbtn{ width:30px; height:38px; border:none; background:none; float:left; cursor:pointer; text-align:center; font-weight:bold; line-height:36px; background:#f4f4f4; border:1px solid #ddd;}
.order-num .numbtn:active{ background:#ff8000;}
.order-num .numtext{ width:50px; height:36px; border:none; background:none; float:left; text-align:center; font-weight:bold; line-height:36px; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.order-course select{ float:left; display:block; overflow:hidden; padding:10px; line-height:20px; border:1px solid #ddd; margin-right:10px; display:block; overflow:hidden;}
.order-tech{ display:block; overflow:hidden; width:800px; margin: 10px 0 0 120px; line-height:36px; float:left;}
.order-tech span{ float:left; color:#999;}
.order-tech input{ width:120px; float:left;}
.order-price span{ float:left; margin-left:3px; line-height:38px;}
.order-price em{ color:#ff8000; margin-left:10px; line-height:38px;}
.order-price input{ width:100px;}

.course-link a{ text-decoration:underline;}
.course-edit a{ margin:0 5px;}
#mapmap{ display:none;}
.mapinput{ width:578px;line-height:40px;height: 40px; padding:0 10px; border:none; background:none; outline:none; border:1px solid #ddd; display:block; overflow:hidden; position: absolute; z-index: 999999999;}
.mapcontent{ width:600px !important;}
.mapclose02{ margin:-30px 0 0 600px !important;}
.mapdetails{ width:600px; display:block; overflow:hidden; margin-top:0px; min-height:300px; background:#eee;}
.maptit{ width:100%; display:block; overflow:hidden; line-height:50px; font-size:14px; margin-top: 40px;}
.mapbtn{ width:100px; height:40px; line-height:40px; text-align:center; color:#fff; font-size:14px; display:block; overflow:hidden; margin:10px auto -10px auto; border:none; background:#ff8000;}
.mapbtn:hover{ background:#ff6000; cursor:pointer;}
.mapmtop{ top:10% !important;}
.mapb_bac{ z-index:9}
.mapb_cot{ z-index:99;}
.mapclose{ display:none;}
.mapclose_a{ display:none !important;}
/*新添加样式*/
.pic-upload{ width:50px; height:30px; position:absolute; z-index:9;filter:alpha(opacity=0);-moz-opacity:0;opacity:0; cursor:pointer;}
/*.pic-upload-a{ width:50px; height:30px; line-height:30px; cursor:pointer;}*/
/*.pic-upload-a:hover{ text-decoration:none;}*/
.pic-upload-a{line-height:30px; cursor:pointer;}
.pic-upload-a:hover{ text-decoration:underline;}
#va{ display:none;}
.va-bac{ background:url(../img/radio-bac.png) no-repeat left center; padding-left:20px; width:60px; cursor:pointer;}
.va-bac input{ width:60px; height:36px; filter:alpha(opacity=0);-moz-opacity:0;opacity:0; position:absolute; cursor:pointer;}
.va-check{ background:url(../img/radio-check.png) no-repeat left center;}
.mphone a{ float:left; margin-left:10px; display:block; overflow:hidden; line-height:34px; border:1px solid #ddd; background:#eee; padding:0 10px;}
.mphone-w{ width:107px !important;}
.message{ display:none;}
.tcinfo{ width:100%; border-top:2px solid #eee; padding:30px 0; margin-top:10px; text-align:center; line-height:36px; font-size:14px; min-height:75px;}
.tcinfook{ width:100px; line-height:40px; background:#f4f4f4; border:1px solid #ddd; margin:0 auto; text-align:center; font-size:14px; display:block; overflow:hidden;}
#confirm .tcinfook{float:left; width:100px; line-height:40px; background:#ff8000; border:1px solid #ddd; margin:0 17%; text-align:center; font-size:14px; display:block; overflow:hidden;}
#confirm .cancel{float:left; width:100px; line-height:40px; background:#f4f4f4; border:1px solid #ddd; margin:0 auto; text-align:center; font-size:14px; display:block; overflow:hidden;}
#confirm .tcinfook:hover{ color: #FFF}
#confirm .tcdow_xinxi{ text-align: center;font-size: 14px;}
/*竞标*/
.bidding-lam{ width:950px; display:block; overflow:hidden; line-height:40px; background:#f4f4f4; margin:20px 0 0 0; padding:0 20px;}
.bidding-cot{ display:block; overflow:hidden;}
.bidding-cot ul li{ width:950px; display:block; overflow:hidden; border-bottom:1px solid #eee; padding:15px 10px;}
.bidding-cot ul li:hover{ background:#f9f9f9;}
.bidding-left{ width:800px; display:block; overflow:hidden; float:left;}
.bidding-tit{ line-height:30px; font-size:18px; font-weight:bold;}
.bidding-dec{ width:100%; display:block; overflow:hidden; line-height:24px; color:#999;}
.bidding-a{ width:100px; height:40px; display:block; overflow:hidden; float:right; background:#ff8000; line-height:40px; text-align:center; color:#fff; font-weight:bold;}
.bidding-a:hover{ background:#ff6000; color:#fff;}
/*门店中心服务列表样式*/
.mservice-li ul li:hover{ cursor:pointer; background:#f8f8f8;}
.msle em{ border-color:#ff8000 !important;}
.ms-note{ width:100%; display:block; overflow:hidden; line-height:36px; color:#ff972f;}
.ms-note em{ width:10px; height:10px; border:2px solid #ff8000;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%; float:left; margin:11px 10px 0 20px;}
.ms-note font{ float:left;}
.ms-note span{ float:left; margin-left:20px;}
.ms-note .msnt{ border-color:#ccc !important; margin-left:20px;}


.infonote{ color:#ff8000; line-height:36px; margin-left:10px;}
.user-a{ width: max-content; line-height: 50px;font-weight: bold;font-size: 15px;padding-left: 25px;border-bottom: 1px solid #eee;display: inline-block;overflow: hidden;}
.webadr{width:100%; display:block; overflow:hidden; margin:5px 0 0 120px;}
.mecharge{ width:100px; display:block; overflow:hidden; background:#ff8000; text-align:center; line-height:30px; text-align:center; color:#fff; margin:10px; float:left; font-size:14px; font-weight:normal;}
.mc-nbsp{ margin-left:60px;}
.mecharge:hover{ background:#ff6000; color:#fff;}
.mlam{ width:100%; height:50px; border-bottom:2px solid #ff8000; font-size:16px; font-weight:bold; line-height:50px;}
.mlam font{ float:left;}
.stu-no{ margin:15px 0 0 20px; padding-left:25px; line-height:20px; display:block; overflow:hidden; float:left; background:url(../img/status-no.png) no-repeat left center; font-size:14px; font-weight:normal;}
.stu-ing{ margin:15px 0 0 20px; padding-left:25px; line-height:20px; display:block; overflow:hidden; float:left; background:url(../img/status-no.png) no-repeat left center; font-size:14px; font-weight:normal; color:red;}
.stu-ok{ margin:15px 0 0 20px; padding-left:25px; line-height:20px; display:block; overflow:hidden; float:left; background:url(../img/status-yes.png) no-repeat left center; font-size:14px; font-weight:normal; color:#1ba500;}


.o-update{ width:968px; display:block; overflow:hidden; border:1px solid #eee; margin-top:20px; font-size:14px;}
.outop{ width:100%; display:block; overflow:hidden; line-height:36px; background:#f7f7f7;}
.outop em{ float:left; margin:0 20px 0 10px;}
.oubot{ width:948px; display:block; overflow:hidden; padding:15px 10px;}
.o-update ul li{ width:100%; display:block; overflow:hidden; margin:10px 0;}
.o-update ul li font{ float:left; line-height:36px; display:block; overflow:hidden; width:100px; text-align:right; margin-right:20px;}
.ou-text{ width:280px; height:34px; line-height:34px; border:1px solid #ddd; background:none; padding:0 10px; float:left; font-size:14px;}

.bfb{ width:50px; line-height:30px; background:#ff8000; color:#fff; text-align:center; height:30px;float: left; margin-top: 15px;}
.notetit{ float:left; margin-left:46px;}
.notenum{ background:#ff6000;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%; width:18px; color:#fff; height:18px; line-height:18px; text-align:center; float:left; display:block; overflow:hidden;}
.txwx{ float:left; display:block; overflow:hidden; padding:10px; width:322px; line-height:20px; border:1px solid #ddd; margin-right:10px; display:block; overflow:hidden;}
.mycash-radio{ width:100%; display:block; overflow:hidden; margin-top:10px; line-height:36px;}
.mycash-radio em{ width:100%; display:block; overflow:hidden; color:#999;}
.mycash-radio span{ display:block; overflow:hidden; line-height:36px; border:1px solid #eee; float:left;}
.mycash-radio span input{ width:16px; height:16px; float:left; margin:10px 10px;}
.mycash-radio span font{ float:left; margin-right:20px;}
.mycash-radio img{ width:30px; height:30px; margin:3px; float:left;}
.mr-p{ min-width:320px; display:block; overflow:hidden;}
.mr-defult{ color:#ff8000; float:right;}
.mr-set{ float:right; margin-left:10px;}
.mr-del{ float:right; margin:0 10px; color:#999;}

.container {
            width: 100%;
            height: 100%;
            overflow: auto;
            clear: both;
        }

        .z_photo {
            /*width: 5rem;*/
            height: 5.2rem;
            padding: 0.3rem;
            overflow: auto;
            clear: both;
            margin: 1rem auto;
            border: 1px solid #ddd;
        }

        .z_photo img {
            width: 5rem;
   			height: 5rem;
    		margin-left: 3px;
        }

        .z_addImg {
            float: left;
            margin-right: 0.2rem;
        }

        .z_file {
            width: 5rem;
            height: 5rem;
            background: url(../img/z_add.png) no-repeat;
            background-size: 100% 100%;
            float: left;
            margin-right: 0.2rem;
        }

        .z_file input::-webkit-file-upload-button {
            width: 5rem;
            height: 5rem;
            border: none;
            position: absolute;
            outline: 0;
            opacity: 0;
        }

        .z_file input#file {
            display: block;
            width: auto;
            border: 0;
            vertical-align: middle;
        }
        /*遮罩层*/

        .z_mask {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            display: none;
        }

        .z_alert {
            width: 12rem;
            height: 8rem;
            border-radius: .8rem;
            background: #fff;
            font-size: .24rem;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -1.5rem;
            margin-top: -2rem;
        }

        .z_alert p:nth-child(1) {
            line-height: 1.5rem;
        }

        .z_alert p:nth-child(2) span {
            display: inline-block;
            width: 49%;
            height: .5rem;
            line-height: .5rem;
            float: left;
            border-top: 1px solid #ddd;
        }

        .z_cancel {
            border-right: 1px solid #ddd;
        }


